@keyframes show
  0%
    opacity: 0  
    right: -900px
    background: rgba(#000000, 0.3)

  50%
    right: 0px
    left: 0px
    background: rgba(#000000, 0.6)

  100%
    z-index: 100
    opacity: 1
    right: 0px
    left: 0px
    background: rgba(#000000, 1)


  
@keyframes lightSpeedIn
  0%
    transform: translate3d(100%, 0, 0) skewX(-10deg)
    opacity: 0

  60%
    transform: skewX(5deg)
    opacity: 0.5

  80%
    transform: skewX(-2deg)
    opacity: 1

  100%
    transform: none
    opacity: 1


@keyframes arrive
  0%
    // display: none
    opacity: 0
  100%
    display: block
    opacity: 1