.modal
  z-index: -100
  width: 100%
  position: fixed
  top: 0px
  bottom: 0px
  right: -900px
  left: 1800px
  display: flex
  justify-content: center
  opacity: 0
  overflow-x: auto
  transition: 0.3s all
  
  &.opened
    animation: show forwards 0.3s

  .project-container
    margin: 50px 0
    width: 1200px
    
    .project-panel
      padding: 70px 50px
      background: #FFFFFF
      position: relative
      border-radius: 10px 10px 0 0
      border-bottom: 1px solid #a0a0a0

      li
        margin-right: 100px
        display: inline-block

        h4
          font-size: 28px
          font-weight: 700
          color: #2c2c2c
          margin-bottom: 5px

        p, time, a
          font-size: 14px

        a
          color: #0083fe

        .project-label
          color: #a0a0a0

      .modal-close
        color: #a0a0a0
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 20px
        cursor: pointer

    .project-images
      width: 100%

      .project-img
        width: 100%
        cursor: zoom-in
        position: relative

        img
          width: 100%

@media (max-width: 1300px)
  .modal
    .project-container
      width: 100%
      margin: 10px
      .project-panel
        padding: 20px

        li
          margin-right: 30px


@media (max-width: 800px)
  .modal
    .project-container
      .project-panel
        li
          display: block
          margin-right: 0
          margin-bottom: 20px

          &:last-of-type
            margin-bottom: 0

      .project-images
        .project-img
          cursor: auto

@media (max-width: 500px)
  .modal
    .project-container
      .project-panel
        .modal-close
          top: 25px
          right: 10px

