.realizations-section
  padding: 50px 0
  display: flex
  align-items: center
  flex-wrap: wrap
  flex-direction: column
  min-height: 100vh
  overflow-x: hidden

  h2
    margin: 20px 0
  
  .filter-box

    .btn-filter
      border: 1px solid #555555
      padding: 7px 10px
  
  .realizations
    margin: 30px 0
    width: 100%
    display: flex
    flex-wrap: wrap
    
    .project
      display: none
      width: calc(100% * (1/4) - 5px - 5px)
      margin: 5px
      opacity: 0
      transition: 0.3s all
      cursor: pointer
      position: relative
      border: 1px solid #dadada
      overflow: hidden
      
      &:hover
        .project-detail 
          bottom: 0

      &.active
        animation: lightSpeedIn 0.5s linear
        display: inline-block
        opacity: 1
  
      .project-detail
        position: absolute
        bottom: -100px
        left: 0
        width: 100%
        background: #FFFFFF
        transition: 0.3s all

        .project-info
          display: inline-block
          margin: 28px 10px

          h4
            font-size: 20px
            font-weight: 700
            color: #0083fe
            margin-bottom: 5px

          p
            font-size: 14px
            color: #a0a0a0

        .project-btn-link
          display: inline-block
          margin: 28px 10px
          padding: 10px 20px
          border-radius: 5px
          color: #FFFFFF
          outline: none
          border: none
          float: right
          background: #0072ff
          cursor: pointer


      figure
        width: 100%

        img
          width: 100%
          height: 350px

@media (max-width: 1200px)
  .realizations-section
    .realizations
      .project
        width: calc(100% * (1/2) - 5px - 5px)

@media (max-width: 700px)
  .realizations-section
    .realizations
      .project
        width: 100%

@media (max-width: 440px)
  .realizations-section
    .filter-box

      .btn-filter
        display: block

    .realizations
      .project
        .project-detail
          bottom: 0

          .project-btn-link
            display: none