.slider-section
  z-index: -100
  width: 100%
  position: fixed
  top: 0px
  bottom: 0px
  right: -900px
  left: 1800px
  opacity: 0
  transition: 0.3s all
  display: flex
  justify-content: center
  align-items: center

  &.opened
    animation: show forwards 0.3s

  .arrow
    cursor: pointer
    padding: 10px
    position: absolute
    color: #555555
    top: 50%
    transform: translateY(-50%)
    z-index: 100
    transition: 0.3s all

    &.left
      left: 20px
      border-radius: 50%

    &.right
      right: 20px
      border-radius: 50%

  .slider-close
    color: #555555
    z-index: 100
    position: absolute
    top: 30px
    right: 30px
    cursor: pointer

  .slider-box
    width: 100%
    min-height: 100vh
    overflow-x: auto
    display: flex
    justify-content: center
    align-items: center

    .slide
      z-index: 70
      width: 100%
      display: none
      opacity: 0

      &.active
        animation: arrive 0.3s forwards
        display: block
        opacity: 1

      img
        width: 100%