/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0; }

html:focus, body:focus, div:focus, span:focus, applet:focus, object:focus, iframe:focus,
h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, p:focus, blockquote:focus, pre:focus,
a:focus, abbr:focus, acronym:focus, address:focus, big:focus, cite:focus, code:focus,
del:focus, dfn:focus, em:focus, img:focus, ins:focus, kbd:focus, q:focus, s:focus, samp:focus,
small:focus, strike:focus, strong:focus, sub:focus, sup:focus, tt:focus, var:focus,
b:focus, u:focus, i:focus, center:focus,
dl:focus, dt:focus, dd:focus, ol:focus, ul:focus, li:focus,
fieldset:focus, form:focus, label:focus, legend:focus,
table:focus, caption:focus, tbody:focus, tfoot:focus, thead:focus, tr:focus, th:focus, td:focus,
article:focus, aside:focus, canvas:focus, details:focus, embed:focus,
figure:focus, figcaption:focus, footer:focus, header:focus, hgroup:focus,
menu:focus, nav:focus, output:focus, ruby:focus, section:focus, summary:focus,
time:focus, mark:focus, audio:focus, video:focus, button:focus {
  outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

a {
  cursor: pointer; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext");


.modal {
  z-index: -100;
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: -900px;
  left: 1800px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  opacity: 0;
  overflow-x: auto;
  transition: 0.3s all; }

.modal.opened {
  animation: show forwards 0.3s; }

.modal .project-container {
  margin: 50px 0;
  width: 1200px; }

.modal .project-container .project-panel {
  padding: 70px 50px;
  background: #FFFFFF;
  position: relative;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #a0a0a0; }

.modal .project-container .project-panel li {
  margin-right: 100px;
  display: inline-block; }

.modal .project-container .project-panel li h4 {
  font-size: 28px;
  font-weight: 700;
  color: #2c2c2c;
  margin-bottom: 5px; }

.modal .project-container .project-panel li p, .modal .project-container .project-panel li time, .modal .project-container .project-panel li a {
  font-size: 14px; }

.modal .project-container .project-panel li a {
  color: #0083fe; }

.modal .project-container .project-panel li .project-label {
  color: #a0a0a0; }

.modal .project-container .project-panel .modal-close {
  color: #a0a0a0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  right: 20px;
  cursor: pointer; }

.modal .project-container .project-images {
  width: 100%; }

.modal .project-container .project-images .project-img {
  width: 100%;
  cursor: zoom-in;
  position: relative; }

.modal .project-container .project-images .project-img img {
  width: 100%; }

@media (max-width: 1300px) {
  .modal .project-container {
    width: 100%;
    margin: 10px; }
  .modal .project-container .project-panel {
    padding: 20px; }
  .modal .project-container .project-panel li {
    margin-right: 30px; } }

@media (max-width: 800px) {
  .modal .project-container .project-panel li {
    display: block;
    margin-right: 0;
    margin-bottom: 20px; }
  .modal .project-container .project-panel li:last-of-type {
    margin-bottom: 0; }
  .modal .project-container .project-images .project-img {
    cursor: auto; } }

@media (max-width: 500px) {
  .modal .project-container .project-panel .modal-close {
    top: 25px;
    right: 10px; } }

.realizations-section {
  padding: 50px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; }

.realizations-section h2 {
  margin: 20px 0; }

.realizations-section .filter-box .btn-filter {
  border: 1px solid #555555;
  padding: 7px 10px; }

.realizations-section .realizations {
  margin: 30px 0;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.realizations-section .realizations .project {
  display: none;
  width: calc(100% * (1/4) - 5px - 5px);
  margin: 5px;
  opacity: 0;
  transition: 0.3s all;
  cursor: pointer;
  position: relative;
  border: 1px solid #dadada;
  overflow: hidden; }

.realizations-section .realizations .project:hover .project-detail {
  bottom: 0; }

.realizations-section .realizations .project.active {
  animation: lightSpeedIn 0.5s linear;
  display: inline-block;
  opacity: 1; }

.realizations-section .realizations .project .project-detail {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  transition: 0.3s all; }

.realizations-section .realizations .project .project-detail .project-info {
  display: inline-block;
  margin: 28px 10px; }

.realizations-section .realizations .project .project-detail .project-info h4 {
  font-size: 20px;
  font-weight: 700;
  color: #0083fe;
  margin-bottom: 5px; }

.realizations-section .realizations .project .project-detail .project-info p {
  font-size: 14px;
  color: #a0a0a0; }

.realizations-section .realizations .project .project-detail .project-btn-link {
  display: inline-block;
  margin: 28px 10px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #FFFFFF;
  outline: none;
  border: none;
  float: right;
  background: #0072ff;
  cursor: pointer; }

.realizations-section .realizations .project figure {
  width: 100%; }

.realizations-section .realizations .project figure img {
  width: 100%;
  height: 350px; }

@media (max-width: 1200px) {
  .realizations-section .realizations .project {
    width: calc(100% * (1/2) - 5px - 5px); } }

@media (max-width: 700px) {
  .realizations-section .realizations .project {
    width: 100%; } }

@media (max-width: 440px) {
  .realizations-section .filter-box .btn-filter {
    display: block; }
  .realizations-section .realizations .project .project-detail {
    bottom: 0; }
  .realizations-section .realizations .project .project-detail .project-btn-link {
    display: none; } }

.slider-section {
  z-index: -100;
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: -900px;
  left: 1800px;
  opacity: 0;
  transition: 0.3s all;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.slider-section.opened {
  animation: show forwards 0.3s; }

.slider-section .arrow {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  color: #555555;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  z-index: 100;
  transition: 0.3s all; }

.slider-section .arrow.left {
  left: 20px;
  border-radius: 50%; }

.slider-section .arrow.right {
  right: 20px;
  border-radius: 50%; }

.slider-section .slider-close {
  color: #555555;
  z-index: 100;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer; }

.slider-section .slider-box {
  width: 100%;
  min-height: 100vh;
  overflow-x: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.slider-section .slider-box .slide {
  z-index: 70;
  width: 100%;
  display: none;
  opacity: 0; }

.slider-section .slider-box .slide.active {
  animation: arrive 0.3s forwards;
  display: block;
  opacity: 1; }

.slider-section .slider-box .slide img {
  width: 100%; }

@keyframes show {
  0% {
    opacity: 0;
    right: -900px;
    background: rgba(0, 0, 0, 0.3); }
  50% {
    right: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6); }
  100% {
    z-index: 100;
    opacity: 1;
    right: 0px;
    left: 0px;
    background: black; } }

@keyframes lightSpeedIn {
  0% {
    transform: translate3d(100%, 0, 0) skewX(-10deg);
    opacity: 0; }
  60% {
    transform: skewX(5deg);
    opacity: 0.5; }
  80% {
    transform: skewX(-2deg);
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }

@keyframes arrive {
  0% {
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }

* {
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }
